
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Outfit', sans-serif;
}

body{
  background-color: red;
}
a{
  color:#f0f0f0;
  text-decoration: none;
}
ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #6f22aee7;
  color: #222;
  border: 1px solid #f0f0f0;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{
  background: transparent;
  color: #f0f0f0;
}

.btn:hover{
  background: rgba(255,255,255,0.2);
  color:#f0f0f0;
  transition: 0.3s;
}
h1,p{
  color: #f0f0f0;
}
